body {
  background-color: #320742;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  box-shadow: #4e1563 0px 0px 70px 0px;
  border: solid 1px #43124a;
  margin-top: 100px;
}

.limitDraw {
  color: #fff;
  padding: 0 5px;
  font-size: 12px;
}

.error {
  text-align: center;
  color: #ff0099;
  min-height: 25px;
}