body {
    background-color: #320742;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

canvas {
    box-shadow: #4e1563 0px 0px 70px 0px;
    border: solid 1px #43124a;
    margin-top: 100px;
}

.clearCursor {
    cursor: url("./assets/cursor-eraser.png"), auto;
}